{% extends 'users/base.html' %}
{% block content %}
    <div class="login-view">

        <article class="one_post">
                <div class="around_content">
                    <form class="userf_form_f"
                          method="POST"enctype='multipart/form-data'>
                        {% csrf_token %}

                        <fieldset class="ticket_review">

                            <div class="ticket_review">
                                <legend > Créer d'abord votre ticket </legend>
                                {{ form_ticket }}
                            </div>

                            <div class="ticket_review">
                                <legend > Puis créer votre critique </legend>
                                {{ form_review }}
                            </div>
                        </fieldset>
                        <div >
                            <button class="ticket_review " type="submit">
                                Publier
                            </button>
                        </div>
                    </form>
                </div>
        </article>
    </div>
{% endblock content %}