{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<form method="POST">
        <div class="around_content">
            {% csrf_token %}
            <div class="userf_form_f">
                <fieldset class="form-group">
                    <legend > Suppression du ticket  </legend>
                    <h2> Voulez-vous supprimer {{ object.headline }} ?</h2>

                </fieldset>
                <div class="form-group">
                    <button class="btn-delete " type="submit">
                        Yes, delete
                    </button>
                    <a class="btn-user" href="{% url 'blog-home' %}">
                        Cancel
                    </a>
                </div>
            </div>
        </div>
    </form>

{% endblock content %}