{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <article class="one_post">
        <div class="around_content">
            <div class="content">

                <div class="ticket_header">
                    <a class="user_name">{{ object.user }}</a>

                    <small class="date">{{ object.time_created|date:"l d F Y"}}</small>
                </div>
                <div class="image">
                    <img class="ticket_image" src="{{ object.image.url }}">
                </div>

                <div class="ticket_content">
                    <h2><a class="ticket_title">{{ object.title}}</a></h2>

                    <p class="ticket-content">{{ object.description }}</p>
                </div>
                {% if object.response == False %}
                    <a class="btn "
                       href="{% url 'response-review' object.pk %}">
                        Répondre </a>
                {% endif %}

            </div>
        </div>
    </article>



{% endblock content %}